*{margin: 0;padding: 0;
}
#top {
    position: relative;
    background-color: #036fab;
    height: 100px;
    color: white;
    padding: 5px;
    text-align: center;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    height: 100px;
    padding: 5px;
    text-align: center;
}
#bottom p {
    font-size: 120%;
    padding-top: 20px;
}
#bottom a {
    font-size: 110%;
}
#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}
.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}
.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}
#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
#login_form {
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 393px;
}
.bar{
    background-color:#c2dfef;
}
#content h1{
    text-align: center;
    color: black;
}
.createform input{
    width: 400px;
}
.createform h2 {
    border: none;
    text-align: left;
}
